SECRET_KEY=your_secret_key_here
DEBUG=True
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here

